@model SaloonReservation.ViewModels.ProfileVm

<div class="modal fade" id="showEditModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>

            <form asp-area="Admin" asp-page="/Profile/Index" asp-page-handler="EditUserProfile" enctype="multipart/form-data">
                <div class="modal-body">

                    <input type="hidden" id="id-field" />

                    <div class="row g-3">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="position-relative d-inline-block">
                                    <div class="position-absolute bottom-0 end-0">
                                        <label for="Editfile" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Image">
                                            <div class="avatar-xs cursor-pointer">
                                                <div class="avatar-title bg-light border rounded-circle text-muted">
                                                    <i class="ri-image-fill"></i>
                                                </div>
                                            </div>
                                        </label>
                                        <input class="form-control d-none" name="Editfile" id="Editfile" type="file"
                                               accept="image/*">
                                    </div>
                                    <div class="avatar-lg p-1">
                                        <div class="avatar-title bg-light rounded-circle">

                                            <img src="~/assets/images/users/user-dummy-img.jpg" id="lead-img" class="avatar-md rounded-circle object-cover userImgCla" />
                                        </div>
                                    </div>
                                </div>
                                <h5 class="fs-13 mt-3">@sharedResource["Image"] </h5>
                            </div>
                            <div>
                                <label for="@Model.FullName"
                                       class="form-label">@sharedResource["Full Name"]</label>
                                <input type="text" asp-for="@Model.FullName" id="UserNameId"
                                       class="form-control" placeholder="@sharedResource["Enter Full Name"]"
                                       required />

                            </div>
                            <div>

                                <input asp-for="@Model.Pic" id="UserPicHiddenId" hidden>


                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-12">
                            <div>
                                <label for="@Model.Mobile"
                                       class="form-label">@sharedResource["Mobile"]</label>
                                <input type="text" asp-for="@Model.Mobile" id="UserMobileId"
                                       class="form-control"
                                       placeholder="@sharedResource["Enter Mobile"]" required />
                            </div>
                        </div>

                    </div>
                    <!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light"
                                data-bs-dismiss="modal">
                            @sharedResource["Close"]
                        </button>
                        <button type="submit" class="btn btn-success"
                                id="add-btn">
                            @sharedResource["Edit Profile"]
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>