@using SaloonReservation.Data
@inject SalonContext _context
@{
    var EditBarbers = _context.WeekDays.Select(e => new { e.WeekDayId, e.WeekDayTitle });

}
@model SaloonReservation.Models.Barber

<div class="modal fade" id="showEditModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@(sharedResource["Edit Barber"])</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>

            <form asp-area="Admin" asp-page="/Configurations/Barber/Index" asp-page-handler="EditBarber" enctype="multipart/form-data">
                <div class="modal-body">

                    <input type="hidden" id="id-field" />

                    <div class="row g-3">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <div class="position-relative d-inline-block">
                                    <div class="position-absolute bottom-0 end-0">
                                        <label for="Editfile" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Image">
                                            <div class="avatar-xs cursor-pointer">
                                                <div class="avatar-title bg-light border rounded-circle text-muted">
                                                    <i class="ri-image-fill"></i>
                                                </div>
                                            </div>
                                        </label>
                                        <input class="form-control d-none" name="Editfile" id="Editfile" type="file"
                                               accept="image/*">
                                    </div>
                                    <div class="avatar-lg p-1">
                                        <div class="avatar-title bg-light rounded-circle">
                                            @*id="CategoryPicId"*@
                                            <img src="~/assets/images/users/user-dummy-img.jpg" id="lead-img" class="avatar-md rounded-circle object-cover categoryImgCla" />
                                        </div>
                                    </div>
                                </div>
                                <h5 class="fs-13 mt-3">@(sharedResource["Image"])</h5>
                            </div>
                            <div>
                                <label for="@Model.FullName"
                                       class="form-label">@(sharedResource["FullName"])</label>
                                <input type="text" asp-for="@Model.FullName" id="FullNameId"
                                       class="form-control" placeholder="@sharedResource["Enter FullName"]"
                                       required />
                                <span asp-validation-for="@Model.FullName" class="text-danger"></span>

                            </div>
                            <div>
                                <input asp-for="@Model.BarberId" id="BarberHiddenId" hidden>
                                <input asp-for="@Model.Image" id="BarberPicHiddenId" hidden>


                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-12">
                            <div>
                                <label for="@Model.Phone"
                                       class="form-label">@sharedResource["Phone"]</label>
                                <input type="text" asp-for="@Model.Phone" id="PhoneId"
                                       class="form-control"
                                       placeholder="@sharedResource["Enter Phone"]" required />
                                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label asp-for="@Model.OffWeekDayId" for="car-rental-name">@sharedResource["Weekday"] <small class="text-danger">*</small></label>

                            <select data-val="true" data-val-required="@sharedResource["Please choose a Weekday"]" id="editWeekdayId" asp-for="@Model.OffWeekDayId" class="form-select required" aria-label="Default select example" required>
                                <option selected value="">@sharedResource["Select Weekday"]</option>

                                @{
                                    if (@EditBarbers != null)
                                    {
                                        foreach (var item in @EditBarbers)
                                        {

                                            <option value="@item.WeekDayId">@item.WeekDayTitle</option>

                                        }
                                    }
                                }

                            </select>
                            <span asp-validation-for="@Model.OffWeekDayId" class="text-alert"></span>
                        </div>
                        <div class="col-lg-12">
                            <div>
                                <label for="@Model.Description"
                                       class="form-label">@(sharedResource["Description"])</label>
                                <textarea asp-for="@Model.Description" id="DescriptionId"
                                          class="form-control" cols="2"
                                          placeholder="@sharedResource["Enter Description"]"></textarea>
                                <span asp-validation-for="@Model.Description" class="text-danger"></span>

                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <div>
                                <label for="@Model.IsActive" class="form-label">@sharedResource["Is Active"]</label>
                                <input asp-for="@Model.IsActive" class="form-check-input code-switcher" type="checkbox" id="IsActiveId">
                                <span asp-validation-for="@Model.IsActive" class="text-danger"></span>
                            </div>
                        </div>
                        <!--end col-->
                        <!--end col-->
                        <!--end col-->
                        <div class="col-md-12 form-group">
                            <label for="formFile" class="form-label">@sharedResource["Adding Others Images For Barber"]</label>
                            <input class="form-control" multiple name="Editfilepond" type="file">
                        </div>
                        <div class="row" style="margin-top:25px" id="images_container">
                            <div class="col-12">
                                <h3>@sharedResource["Barber Images"]</h3>
                                <hr />
                                <div id="item_images" class="justify-content-center align-items-center">
                                    <div class="loader">@sharedResource["Loading..."]</div>
                                    <div class="message d-none">@sharedResource["There Are No Images For This Barber"]</div>
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light"
                                data-bs-dismiss="modal">
                            @sharedResource["Close"]
                        </button>
                        <button type="submit" class="btn btn-success"
                                id="add-btn">
                            @sharedResource["Save"]
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>