@model SaloonReservation.Models.PublicSection

<div class="modal fade" id="showEditModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@sharedResource["Edit About Section"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>
            <form method="post" enctype="multipart/form-data" asp-area="Admin" asp-page="/SystemConfiguration/PublicAboutSection/Index" asp-page-handler="EditPublicSection">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-lg-12">
                    <div class="text-center">
                        <div class="position-relative d-inline-block">
                            <div class="position-absolute bottom-0 end-0">
                                <label for="Editfile" class="mb-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Select Image">
                                    <div class="avatar-xs cursor-pointer">
                                        <div class="avatar-title bg-light border rounded-circle text-muted">
                                            <i class="ri-image-fill"></i>
                                        </div>
                                    </div>
                                </label>
                                <input class="form-control d-none" name="Editfile" id="Editfile" type="file"
                                       accept="image/*">
                            </div>
                            <div class="avatar-lg p-1">
                                <div class="avatar-title bg-light rounded-circle">
                                   
                                    <img src="~/assets/images/users/user-dummy-img.jpg"  class="avatar-md rounded-circle object-cover" id="ImageId" />
                                </div>
                            </div>
                        </div>
                        <h5 class="fs-13 mt-3">@sharedResource["Image"]</h5>
                    </div>
                  
                </div>
                <div class="row col-12">
                    <input asp-for="@Model.Id" id="PublicSectionHiddenId" hidden>
                    <input asp-for="@Model.Image" id="ImageIdEdit" hidden>

                </div>
              
                    

                <div class="row col-12">
                    <div class="form-group col-12">
                        <label for="@Model.TitleAr" class="form-label">@sharedResource["Arabic Title"]</label>
                        <input type="text" asp-for="@Model.TitleAr" id="TitleArId" class="form-control" placeholder="@sharedResource["Enter Arabic Title"]" required />

                        <span asp-validation-for="@Model.TitleAr" class="text-danger"></span>
                    </div>
                    </div>
                <div class="row col-12">
                    <div class="form-group col-12">
                        <label for="@Model.TitleEn" class="form-label">@sharedResource["English Title"]</label>
                        <input type="text" asp-for="@Model.TitleEn" id="TitleEnId" class="form-control" placeholder="@sharedResource["Enter English Title"]" required />

                        <span asp-validation-for="@Model.TitleEn" class="text-danger"></span>
                    </div>
                </div>
              
                
                <div class="col-lg-12">
                    <div>
                        <label for="@Model.DescritpionAr" class="form-label">@sharedResource["Description In Arabic"]</label>
                        <textarea asp-for="@Model.DescritpionAr" id="DescritpionArId" class="form-control" cols="4" placeholder="@sharedResource["Enter Description In Arabic"]"></textarea>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div>
                        <label for="@Model.DescritpionEn" class="form-label">@sharedResource["Description In English"]</label>
                        <textarea asp-for="@Model.DescritpionEn" id="DescritpionEnId" class="form-control" cols="4" placeholder="@sharedResource["Enter Description In English"]"></textarea>
                    </div>
                </div>
               




                <div class="form-group mt-2">
                    <input type="submit" value="@sharedResource["Edit"]" class="btn btn-primary" />
                </div>
            </form>

            
        </div>
    </div>
</div>














