
<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a asp-area="Admin" asp-page="/index" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/images/KidsLogo.jpg" class="img-fluid w-100" alt="Mashaer Logo" style="height: 105px;padding-top: 20px" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/images/KidsLogo.jpg" class="img-fluid w-100" alt="Mashaer Logo" style="height: 105px;padding-top: 20px" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a asp-area="Admin" asp-page="/index" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/images/KidsLogo.jpg" class="img-fluid w-100" alt="Mashaer Logo" style="height: 105px;padding-top: 20px" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/images/KidsLogo.jpg" class="img-fluid w-100" alt="Mashaer Logo" style="height: 105px;padding-top: 20px" height="17">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">


                <li class="menu-title"><span>@sharedResource["Dashboard"]</span></li>
                <li class="nav-item">
                    <a asp-area="Barber" asp-page="/index" class="nav-link menu-link" aria-expanded="false"><i class="ri-rocket-line"></i> <span>@sharedResource["Statistics Dashboard"]</span> </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link menu-link" href="#ReportsLayouts" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarLayouts">
                        <i class="ri-layout-3-line"></i> <span>@sharedResource["Reports"]</span>
                    </a>
                    <div class="collapse menu-dropdown" id="ReportsLayouts">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a asp-area="Barber" asp-page="/Reports/ReservationReport" class="nav-link">@sharedResource["Reservation Report"]</a>
                            </li>


                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->




                <li class="nav-item">
                    <a asp-area="Barber" asp-page="/Reservation/Index" class="nav-link menu-link" aria-expanded="false">   <i class="ri-layout-3-line"></i> <span>@sharedResource["New Reservations"]</span> </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Barber" asp-page="/Profile/Index" class="nav-link menu-link" aria-expanded="false"><i class="ri-account-circle-line"></i> <span>@sharedResource["Profile"]</span> </a>
                </li>



            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>