@{
}


@model SaloonReservation.Models.Service

<div class="modal fade" id="QuickViewPoup" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel">@sharedResource["Service Details"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-card">
                        <table class="table mb-0">
                            <tbody>

                               
                                <tr>
                                    <td class="fw-medium">@sharedResource["Service Title Ar"]</td>
                                    <td id="DDDServiceTLARId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Service Title En"]</td>
                                    <td id="DServiceTLENId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["One Kid Price"]</td>
                                    <td id="DDescriptionTLARId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["More Kids Price"]</td>
                                    <td id="DDescriptionTLENId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Duration"]</td>
                                    <td id="DSortOrderId"></td>
                                </tr>
                                <tr>
                                    <td class="fw-medium">@sharedResource["Gender"]</td>
                                    <td id="DIsActiveId"></td>
                                </tr>
                            </tbody>
                        </table><!--end table-->
                    </div>
                </div>
            </div><!--end card-->
            <div class="modal-footer">
                <div class="hstack gap-2 justify-content-end">
                    <button type="button" class="btn btn-light"
                            data-bs-dismiss="modal">
                        @sharedResource["Close"]
                    </button>


                </div>
            </div>
        </div>
    </div>
</div>
