@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
	//Layout = "_Layout";
}
<head>
	<link href="~/adminassets/css_rtl/arabicfont.css" rel="stylesheet">
	</head>
<style>
	.custom-svg-fill-color-tertiary-darken {
		fill: #0272be !important;
	}
	

	
</style>
@Html.Partial("Public/Partials/_PublicSlider")

@*	<div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual dots-inside dots-horizontal-center show-dots-hover show-dots-xs nav-style-1 nav-arrows-thin nav-inside nav-inside-plus nav-dark nav-lg nav-font-size-lg show-nav-hover mb-0" data-plugin-options="{'autoplay': true, 'autoplayTimeout': 10000}" style="height: 860px;">
		<div class="owl-stage-outer">
						<div class="owl-stage">

							<!-- Carousel Slide 1 -->
							<div class="owl-item position-relative overflow-hidden">
				<div class="background-image-wrapper p-absolute top-0 left-0 right-0 bottom-0" data-appear-animation="kenBurnsToLeft" data-appear-animation-duration="30s" data-plugin-options="{'minWindowWidth': 0}" data-carousel-onchange-show style="background-image: url(/images/Heroes-Banner.png); background-size: cover; background-position: center;"></div>
								<div class="container position-relative z-index-3 h-100">
									<div class="row align-items-center justify-content-start h-100">
										<div class="col-lg-8 col-xl-7 text-center text-md-start">
											<h2 class="custom-primary-font font-weight-semi-bold text-color-primary positive-ls-2 line-height-4 text-3 text-md-5 mb-1 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300" data-plugin-options="{'minWindowWidth': 0}">Full-Service Salon Located in LA</h2>
											<h1 class="text-color-primary font-weight-bold fst-italic ls-0 text-9 custom-text-lg-1 line-height-2 mb-3 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">Porto Salon</h1>
											<p class="text-color-default text-5 font-weight-normal line-height-5 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="700" data-plugin-options="{'minWindowWidth': 0}">Lorem ipsum dolor sit amet, consectetur adipiscing elit praesent quam lacus, et suscipit lectus porta efficitur.</p>
											<span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
												<a href="demo-beauty-salon-book-now.html" class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="900" data-plugin-options="{'minWindowWidth': 0}">Book Now</a>
											</span>
											<span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
												<a href="demo-beauty-salon-services.html" class="btn btn-light positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase ms-2 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="1100" data-plugin-options="{'minWindowWidth': 0}">View Services</a>
											</span>
										</div>
									</div>
								</div>

								<div class="p-absolute bottom-0 left-0 w-100 text-center custom-tertiary-font transform3dy-p50 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1300" data-plugin-options="{'minWindowWidth': 0}">
									<span class="text-color-light custom-text-lg-2 opacity-3 opacity-hover ws-nowrap">porto salon</span>
								</div>

								<div class="p-absolute bottom-10 left-10 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1300" data-plugin-options="{'minWindowWidth': 0}">
									<img width="123" height="126" src="ّّّ~/publicsite/img/demos/beauty-salon/generic/dots.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}" />
								</div>

							</div>

							<!-- Carousel Slide 2 -->
							<div class="owl-item position-relative overflow-hidden">
				<div class="background-image-wrapper p-absolute top-0 left-0 right-0 bottom-0" data-appear-animation="kenBurnsToRight" data-appear-animation-duration="30s" data-plugin-options="{'minWindowWidth': 0}" data-carousel-onchange-show style="background-image: url(/images/Original-Sprout-BOGO-2023.png); background-size: cover; background-position: center;"></div>
								<div class="container position-relative z-index-3 h-100">
									<div class="row align-items-center justify-content-end h-100">
										<div class="col-lg-7 text-center text-md-end">
											<h2 class="custom-primary-font font-weight-semi-bold text-color-primary positive-ls-2 line-height-4 text-3 text-md-5 mb-1 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300" data-plugin-options="{'minWindowWidth': 0}">Porto Salon Located in LA</h2>
											<h1 class="text-color-primary font-weight-bold fst-italic ls-0 text-9 custom-text-lg-1 line-height-2 mb-3 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">Full-Service</h1>
											<p class="text-color-default text-5 font-weight-normal line-height-5 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="700" data-plugin-options="{'minWindowWidth': 0}">Lorem ipsum dolor sit amet, consectetur adipiscing elit praesent quam lacus, et suscipit lectus porta efficitur.</p>
											<span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
												<a href="demo-beauty-salon-book-now.html" class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="900" data-plugin-options="{'minWindowWidth': 0}">Book Now</a>
											</span>
											<span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
												<a href="demo-beauty-salon-services.html" class="btn btn-light positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase ms-2 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="1100" data-plugin-options="{'minWindowWidth': 0}">View Services</a>
											</span>
										</div>
									</div>
								</div>

								<div class="p-absolute bottom-0 left-0 w-100 text-center custom-tertiary-font transform3dy-p50 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1300" data-plugin-options="{'minWindowWidth': 0}">
									<span class="text-color-light custom-text-lg-2 opacity-3 opacity-hover ws-nowrap d-block ws-nowrap">porto salon</span>
								</div>

								<div class="p-absolute bottom-10 right-10 rotate-l-90 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1300" data-plugin-options="{'minWindowWidth': 0}">
					<img width="123" height="126" src="ّّّ~/publicsite/img/demos/beauty-salon/generic/dots.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}" />
								</div>

							</div>

						</div>
					</div>
					<div class="owl-nav">
						<button type="button" role="presentation" class="owl-prev"></button>
						<button type="button" role="presentation" class="owl-next"></button>
					</div>
				</div>
*@
				@*<div class="container pt-5" id="about">
					<div class="row py-5 align-items-center">
						<div class="col-lg-5 mb-3 mb-lg-0">
							<div class="appear-animation block-appear-animation" data-appear-animation="blockSlide blockSlideToRight">
								<div class="block-appear-animation-wrapper">
									<div class="owl-carousel owl-theme" data-plugin-options="{'items': 1, 'nav': false, 'dots': false, 'autoplay': true, 'autoplayTimeout': 2000, 'margin': 10, 'animateOut': 'fadeOut'}">
                        <div>
							<img class="img-fluid" src="~/publicsite/img/demos/beauty-salon/generic/generic-1.jpg" />
										</div>
										<div>
							<img class="img-fluid" src="~/publicsite/img/demos/beauty-salon/generic/generic-2.jpg">
										</div>
                        <div>
                            
							<img class="img-fluid" src="~/publicsite/img/demos/beauty-salon/generic/generic-3.jpg" />
										</div>
										<div>
							<img class="img-fluid" src="~/publicsite/img/demos/beauty-salon/generic/generic-4.jpg">
										</div>
										<div>
							<img class="img-fluid" src="~/publicsite/img/demos/beauty-salon/generic/generic-5.jpg">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-7 ps-lg-4">
							<h4 class="custom-primary-font font-weight-semi-bold text-color-primary positive-ls-2 line-height-4 text-3 text-md-4-5 mb-0 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300" data-plugin-options="{'minWindowWidth': 0}">Our Story</h4>
							<h2 class="text-color-primary font-weight-bold fst-italic ls-0 text-13 line-height-2 mb-3 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">About Porto Salon</h2>
							<p class="text-color-default text-4 font-weight-normal line-height-7 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="700" data-plugin-options="{'minWindowWidth': 0}">Porto Salon was created in 1999 and is run by John and Janice to provide the finest salon services, lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
							<span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
								<a href="demo-beauty-salon-about.html" class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="900" data-plugin-options="{'minWindowWidth': 0}">About Us</a>
							</span>
						</div>
					</div>
				</div>*@
@Html.Partial("Public/Partials/_PublicIntro")
@Html.Partial("Partials/_PublicAbout")

@*@Html.Partial("Partials/_PublicServices")

@Html.Partial("Partials/_PublicPriceList")
*@

@*				<div class="container mb-5 pb-5" id="services">
					<div class="row pt-4 pb-2">
						<div class="col">
							<h3 class="text-color-primary font-weight-bold fst-italic ls-0 text-8 mb-3 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100" data-plugin-options="{'minWindowWidth': 0}">Services</h3>
							<p class="text-color-default text-3 font-weight-normal line-height-7 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300" data-plugin-options="{'minWindowWidth': 0}">For more information or to schedule a consultation, please contact us. </p>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 mb-3 mb-md-0">

							<div class="anim-hover-scale-1-1 transition-3ms">
								<div class="card custom-card-services border-0 border-radius-0 bg-color-grey appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100" data-plugin-options="{'minWindowWidth': 0}">
									<div class="card-body d-flex align-items-end">
										<div class="custom-card-services-icon">
<img  height="150" src="~/publicsite/img/demos/beauty-salon/icons/service-1-icon.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 
											''}"/>
											
										</div>
										<div class="custom-card-services-content">
											<ul class="list-unstyled">
												<li>COLOR $100</li>
												<li>CUT $200 and up</li>
											  </ul>
							<a href="#" class="text-primary text-5 text-decoration-none font-weight-bold">Hair <img width="6" height="18" src="ّّّ~/publicsite/img/demos/beauty-salon/icons/arrow.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'ps-1 d-inline-block'}" /></a>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="col-md-4 mb-3 mb-md-0">

							<div class="anim-hover-scale-1-1 transition-3ms">
								<div class="card custom-card-services border-0 border-radius-0 bg-color-grey appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300" data-plugin-options="{'minWindowWidth': 0}">
									<div class="card-body d-flex align-items-end">
										<div class="custom-card-services-icon">
											<img  height="150" src="~/publicsite/img/demos/beauty-salon/icons/service-2-icon.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 
											''}"/>

											
										</div>
										<div class="custom-card-services-content">
											<ul class="list-unstyled">
												<li>MANICURE $45 and up</li>
												<li>PEDICURE $65 and up</li>
												<li>THREADING $50 and up</li>
											  </ul>
							<a href="#" class="text-primary text-5 text-decoration-none font-weight-bold">Nails <img width="6" height="18" src="ّّّ~/publicsite/img/demos/beauty-salon/icons/arrow.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'ps-1 d-inline-block'}" /></a>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="col-md-4">

							<div class="anim-hover-scale-1-1 transition-3ms">
								<div class="card custom-card-services border-0 border-radius-0 bg-color-grey appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">
									<div class="card-body d-flex align-items-end">
										<div class="custom-card-services-icon">
											<img  height="150" src="~/publicsite/img/demos/beauty-salon/icons/service-3-icon.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 
											''}"/>

											
										</div>
										<div class="custom-card-services-content">
											<ul class="list-unstyled">
												<li>MAKE-UP $200 and up</li>
												<li>EYE MAKE-UP $75 and up</li>
												<li>LASHES $50 and up</li>
												<li>THREADING $40 and up</li>
												<li>EYEBROW SHAPING $50 and up</li>
												<li>TINTING $50 and up</li>
											  </ul>
							<a href="#" class="text-primary text-5 text-decoration-none font-weight-bold">Mackup <img width="6" height="18" src="ّّّ~/publicsite/img/demos/beauty-salon/icons/arrow.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'ps-1 d-inline-block'}" /></a>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="row">
						<div class="col text-center pt-4 mt-1">
							<span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
								<a href="demo-beauty-salon-book-now.html" class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="700" data-plugin-options="{'minWindowWidth': 0}">Book Now</a>
							</span>
						</div>
					</div>
				</div>
*@
@Html.Partial("Public/Partials/_PriceList")
@Html.Partial("Public/Partials/_CallToAction")
@Html.Partial("Public/Partials/_Team")
@Html.Partial("Public/Partials/_PublicContact")
<section class="section section-with-shape-divider section-height-3 bg-tertiary border-0 m-0" style="background-color: #fccf02d6 !important;">
	<div class="shape-divider" style="height: 116px;">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 116" preserveAspectRatio="xMinYMin">
			<path class="custom-svg-fill-color-tertiary-darken" d="M0,24c2.86,0.42,7.41,1.1,13,2c6.13,0.98,10.67,1.77,12,2c11.67,2.01,42.24,7.05,68,11
								c7.79,1.2,22.72,3.48,41,6c20.75,2.86,38.83,5.06,74,9c41.19,4.61,62.09,6.95,93,10c57.4,5.66,101.17,9.03,114,10
								c9.13,0.69,40.29,3.02,109,7c48.33,2.8,87.04,5.04,132,7c76.86,3.35,135.02,4.27,184,5c104.27,1.56,187.39,0.71,234,0
								c21.92-0.34,91.62-1.5,183-5c50.62-1.94,106.43-4.12,181-9c57.01-3.73,108.05-7.94,152-12c94.91-8.78,162.37-17.44,182-20
								c41.76-5.45,72.06-10.09,96-14c21.23-3.47,39.04-6.63,52-9c0-11.67,0-23.33,0-35C1279-11,638-11-3-11C-2,0.67-1,12.33,0,24z" />
			<path fill="#F7F7F7" d="M-7,23c1.59,0.23,4.03,0.58,7,1c82.06,11.6,145.17,16.35,182,19c244.62,17.62,377,23,377,23
								c157.86,6.42,277.64,7.71,308,8c75.8,0.73,232.89,1.31,438-6c0,0,137.72-4.66,358-19c42.98-2.8,104.01-7.03,183-16
								c33.26-3.78,60.85-7.38,80-10c0-9.01,0-18.01,0-27.02c-644,0-1288,0-1932,0C-6.33,4.99-6.67,13.99-7,23z" />
		</svg>
	</div>
	<div class="container pt-4 pb-3 mt-5">
		<div class="row align-items-center justify-content-center pt-3">
			<div class="col-md-9 col-lg-7 col-xl-9 text-center text-xl mb-4 mb-xl-0">
				<h2 class="text-color-light font-weight-medium line-height-4 text-9 negative-ls-1 mb-2">@sharedResource["For"] <span style="background-color: #d65831   !important;" class="font-weight-extra-bold custom-highlight-1 p-1 appear-animation" data-appear-animation="customHighlightAnim" data-appear-animation-delay="300">@sharedResource["Just 4 Kids"]</span>@sharedResource["Salon"] </h2>
				<p style="color:#000"class="custom-font-secondary custom-font-size-1 font-weight-light opacity-8 mb-0">@sharedResource["Beauty Salon is Where beauty meets elegance"]</p>
			</div>
			<div class="col-xl-3 text-center text-xl-end">
				<div class="position-relative">
					<a style="background-color: #d65831  !important; " href="/AppoimentServices" class="btn btn-secondary btn-modern font-weight-bold text-3 btn-px-4 py-3">@sharedResource["Make Appoiment Now"]</a>
				</div>
			</div>
		</div>
	</div>
</section>


			@*	<section class="section parallax bg-transparent border-0 py-0 m-0 p-relative" data-plugin-parallax data-plugin-options="{'speed': 1.5, 'scrollableParallax': true, 'scrollableParallaxMinWidth': 991, 'startOffset': 13, 'cssProperty': 'width', 'cssValueStart': 40, 'cssValueEnd': 100, 'cssValueUnit': 'vw'}">
					<div class="d-flex justify-content-center">
						<div class="scrollable-parallax-wrapper bg-primary overflow-hidden py-5">
							<div class="container custom-container-style-1 custom-container-position-1 py-5 my-5 mx-0">
								<div class="row justify-content-center pt-3 mb-3">
									<div class="col-sm-8 col-md-12 text-center">
										<h3 class="text-color-light font-weight-bold fst-italic ls-0 text-8 mb-3 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100" data-plugin-options="{'minWindowWidth': 0}">Clients Reviews</h3>
									</div>
								</div>
								<div class="row justify-content-center pb-3">
									<div class="col-lg-9">
										<div class="owl-carousel owl-theme nav-style-1 nav-light nav-outside nav-font-size-lg custom-dots-style-1 custom-dots-style-1-light mb-0" data-plugin-options="{'responsive': {'0': {'items': 1, 'nav': false, 'dots': true}, '576': {'items': 1, 'nav': false, 'dots': true}, '768': {'items': 1, 'nav': false, 'dots': true}, '992': {'items': 1}, '1200': {'items': 1}}, 'loop': false, 'nav': false, 'dots': false, 'autoplay': true, 'autoplayTimeout': 10000, 'animateOut': 'fadeOut'}">
											<div>
												<div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote custom-testimonial-quote mb-0">
													<blockquote>
														<p class="custom-font-secondary text-color-light opacity-8 font-weight-light line-height-6 text-4-5 px-2 px-lg-3 mb-0"><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</em></p>
													</blockquote>
													<div class="testimonial-author">
														<p class="text-color-light font-weight-bold text-4 mb-0">Janice Smith</p>
													</div>
												</div>
											</div>
											<div>
												<div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-remove-right-quote custom-testimonial-quote mb-0">
													<blockquote>
														<p class="custom-font-secondary text-color-light opacity-8 font-weight-light line-height-6 text-4-5 px-2 px-lg-3 mb-0"><em>Sed eget risus porta, tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</em></p>
													</blockquote>
													<div class="testimonial-author">
														<p class="text-color-light font-weight-bold text-4 mb-0">Melissa Smith</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="opacity-5">
						<div class="p-absolute bottom-0 left-0 w-100 text-center custom-tertiary-font transform3dy-p50 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="100" data-plugin-options="{'minWindowWidth': 0}">
							<span class="text-color-light custom-text-lg-2 opacity-1 opacity-hover ws-nowrap d-block pb-5">clients reviews</span>
						</div>
					</div>
				</section>

				<div class="container py-5 shop" id="shop">
					<div class="row pt-4 pb-2">
						<div class="col">
							<h3 class="text-color-primary font-weight-bold fst-italic ls-0 text-8 mb-3 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100" data-plugin-options="{'minWindowWidth': 0}">Shop</h3>
							<p class="text-color-default text-3 font-weight-normal line-height-7 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300" data-plugin-options="{'minWindowWidth': 0}">Only the best seller products added recently in our catalog</p>
							<hr>
						</div>
					</div>
					<div class="products row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">
						<div class="col-12 col-md-4 mb-4 mb-lg-0">
							<div class="product mb-0">
								<div class="product-thumb-info border-0 mb-3">
									<div class="product-thumb-info-badges-wrapper">
										<span class="badge badge-ecommerce badge-danger">27% OFF</span>
									</div>
									<div class="addtocart-btn-wrapper">
										<a href="shop-cart.html" class="text-decoration-none addtocart-btn" title="Add to Cart">
											<i class="icons icon-bag"></i>
										</a>
									</div>
									<a href="#" class="quick-view text-uppercase font-weight-semibold text-2">
										QUICK VIEW
									</a>
									<a href="shop-product-sidebar-left.html">
										<div class="product-thumb-info-image bg-light">
							<img alt="" class="img-fluid" src="~/publicsite/img/demos/beauty-salon/products/product-1.jpg" />
										</div>
									</a>
								</div>
								<div class="d-flex justify-content-between">
									<div>
										<a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">CATEGORY</a>
										<h3 class="text-3-5 font-weight-medium custom-primary-font text-transform-none line-height-3 mb-0"><a href="#" class="text-color-dark text-color-hover-primary">Product Short Name</a></h3>
									</div>
								</div>
								<div title="Rated 5 out of 5">
									<input type="text" class="d-none" value="5" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'default', 'size':'xs'}">
								</div>
								<p class="price text-5 mb-3">
									<span class="sale text-color-dark font-weight-medium">49,00</span>
									<span class="amount">59,00</span>
								</p>
							</div>
						</div>
						<div class="col-12 col-md-4 mb-4 mb-lg-0">
							<div class="product mb-0">
								<div class="product-thumb-info border-0 mb-3">
									<div class="product-thumb-info-badges-wrapper">
										<span class="badge badge-ecommerce badge-danger">27% OFF</span>
									</div>
									<div class="addtocart-btn-wrapper">
										<a href="shop-cart.html" class="text-decoration-none addtocart-btn" title="Add to Cart">
											<i class="icons icon-bag"></i>
										</a>
									</div>
									<a href="#" class="quick-view text-uppercase font-weight-semibold text-2">
										QUICK VIEW
									</a>
									<a href="shop-product-sidebar-left.html">
										<div class="product-thumb-info-image bg-light">
							<img alt="" class="img-fluid" src="~/publicsite/img/demos/beauty-salon/products/product-2.jpg" />
										</div>
									</a>
								</div>
								<div class="d-flex justify-content-between">
									<div>
										<a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">CATEGORY</a>
										<h3 class="text-3-5 font-weight-medium custom-primary-font text-transform-none line-height-3 mb-0"><a href="#" class="text-color-dark text-color-hover-primary">Product Short Name</a></h3>
									</div>
								</div>
								<div title="Rated 5 out of 5">
									<input type="text" class="d-none" value="5" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'default', 'size':'xs'}">
								</div>
								<p class="price text-5 mb-3">
									<span class="sale text-color-dark font-weight-medium">49,00</span>
									<span class="amount">59,00</span>
								</p>
							</div>
						</div>
						<div class="col-12 col-md-4 mb-4 mb-lg-0">
							<div class="product mb-0">
								<div class="product-thumb-info border-0 mb-3">
									<div class="product-thumb-info-badges-wrapper">
										<span class="badge badge-ecommerce badge-danger">27% OFF</span>
									</div>
									<div class="addtocart-btn-wrapper">
										<a href="shop-cart.html" class="text-decoration-none addtocart-btn" title="Add to Cart">
											<i class="icons icon-bag"></i>
										</a>
									</div>
									<a href="#" class="quick-view text-uppercase font-weight-semibold text-2">
										QUICK VIEW
									</a>
									<a href="shop-product-sidebar-left.html">
										<div class="product-thumb-info-image bg-light">
							<img alt="" class="img-fluid" src="~/publicsite/img/demos/beauty-salon/products/product-3.jpg" />
										</div>
									</a>
								</div>
								<div class="d-flex justify-content-between">
									<div>
										<a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-1">CATEGORY</a>
										<h3 class="text-3-5 font-weight-medium custom-primary-font text-transform-none line-height-3 mb-0"><a href="#" class="text-color-dark text-color-hover-primary">Product Short Name</a></h3>
									</div>
								</div>
								<div title="Rated 5 out of 5">
									<input type="text" class="d-none" value="5" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'default', 'size':'xs'}">
								</div>
								<p class="price text-5 mb-3">
									<span class="sale text-color-dark font-weight-medium">49,00</span>
									<span class="amount">59,00</span>
								</p>
							</div>
						</div>
					</div>

				</div>*@

				@*<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-6 p-0">
							<section class="section section-background bg-size-cover p-relative h-100 m-0" style="background: url(/publicsite/img/demos/beauty-salon/backgrounds/background-1.jpg); min-height: 500px;">
								<div class="p-absolute bottom-10 right-10 rotate-l-90 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300" data-plugin-options="{'minWindowWidth': 0}">
									<img width="123" height="126" src="ّّّ~/publicsite/img/demos/beauty-salon/generic/dots.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}" />
								</div>
							</section>
						</div>
						<div class="col-lg-6 p-0">
							<div class="h-100 m-0">
								<div class="row m-0">
									<div class="col-half-section col-half-section-left py-5">
										<div class="p-3">
											<h4 class="custom-primary-font font-weight-semi-bold text-color-primary positive-ls-2 line-height-4 text-3 text-md-4-5 mb-0 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300" data-plugin-options="{'minWindowWidth': 0}">Do It Best</h4>
											<h2 class="text-color-primary font-weight-bold fst-italic ls-0 text-11 line-height-2 mb-3 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">Treat Yourself</h2>
											<p class="text-color-default text-4 font-weight-normal line-height-7 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="700" data-plugin-options="{'minWindowWidth': 0}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ullamcorper quam lacus, et suscipit lectus porta efficitur.</p>
											<span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
												<a href="demo-beauty-salon-about.html" class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="900" data-plugin-options="{'minWindowWidth': 0}">About Us</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row align-items-center">
						<div class="col-lg-6 order-2 order-lg-1 p-0">
							<div class="h-100 m-0">
								<div class="row m-0">
									<div class="col-half-section col-half-section-right py-5 ms-auto">
										<div class="p-3">
											<h4 class="custom-primary-font font-weight-semi-bold text-color-primary positive-ls-2 line-height-4 text-3 text-md-4-5 mb-0 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300" data-plugin-options="{'minWindowWidth': 0}">New Customer Discount</h4>
											<h2 class="text-color-primary font-weight-bold fst-italic ls-0 text-11 line-height-2 mb-3 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">Discount Voucher</h2>
											<p class="text-color-default text-4 font-weight-normal line-height-7 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="700" data-plugin-options="{'minWindowWidth': 0}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ullamcorper quam lacus, et suscipit lectus porta efficitur.</p>
											<span class="anim-hover-scale-1-1 transition-3ms d-inline-block">
												<a href="demo-beauty-salon-contact.html" class="btn btn-primary positive-ls-3 font-weight-normal btn-px-5 btn-py-3 text-uppercase appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="900" data-plugin-options="{'minWindowWidth': 0}">Contact Us</a>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 order-1 order-lg-2 p-0">
			<section class="section section-background bg-size-cover p-relative h-100 m-0" style="background: url(/publicsite/img/demos/beauty-salon/backgrounds/background-2.jpg); min-height: 500px;">
								<div class="p-absolute top-10 left-10 rotate-r-90 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600" data-plugin-options="{'minWindowWidth': 0}">
					<img width="123" height="126" src="ّّّ~/publicsite/img/demos/beauty-salon/generic/dots.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}" />
								</div>
							</section>
						</div>
					</div>
				</div>

				<section class="section bg-transparent p-relative border-0 m-0 p-0">
					<div class="container py-5">
						<div class="row align-items-center text-center py-5">
							<div class="col-sm-4 col-lg-2 mb-5 mb-lg-0">
				<img src="~/publicsite/img/logos/logo-8.png" alt class="img-fluid" style="max-width: 90px;" />
							</div>
							<div class="col-sm-4 col-lg-2 mb-5 mb-lg-0">
<img src="~/publicsite/img/logos/logo-9.png" alt class="img-fluid" style="max-width: 90px;" />
							</div>
							<div class="col-sm-4 col-lg-2 mb-5 mb-lg-0">
<img src="~/publicsite/img/logos/logo-10.png" alt class="img-fluid" style="max-width: 90px;" />
							</div>
							<div class="col-sm-4 col-lg-2 mb-5 mb-sm-0">
<img src="~/publicsite/img/logos/logo-11.png" alt class="img-fluid" style="max-width: 90px;"/>
							</div>
							<div class="col-sm-4 col-lg-2 mb-5 mb-sm-0">
<img src="~/publicsite/img/logos/logo-12.png" alt class="img-fluid" style="max-width: 90px;"/>
							</div>
							<div class="col-sm-4 col-lg-2">
<img src="~/publicsite/img/logos/logo-13.png" alt class="img-fluid" style="max-width: 90px;"/>
							</div>
						</div>
					</div>
				</section>

				<section class="section bg-secondary p-relative border-0 m-0 p-0">
					<div class="p-absolute top-10 left-10 rotate-r-90 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="600" data-plugin-options="{'minWindowWidth': 0}">
		<img width="123" height="126" src="~/publicsite/img/demos/beauty-salon/generic/dots.svg"  alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}"/>
					</div>
					<div class="container mb-0 py-5" id="blog">
						<div class="row pt-4 pb-2">
							<div class="col">
								<h3 class="text-color-primary font-weight-bold fst-italic ls-0 text-8 mb-3 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="100" data-plugin-options="{'minWindowWidth': 0}">Blog</h3>
								<p class="text-color-default text-3 font-weight-normal line-height-7 mb-4 appear-animation" data-appear-animation="fadeInUpShorterPlus" data-appear-animation-delay="300" data-plugin-options="{'minWindowWidth': 0}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
							</div>
						</div>
						<div class="row justify-content-center appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
							<div class="col-md-6 mb-4 mb-lg-0">
								<a href="demo-beauty-salon-blog-post.html" class="text-decoration-none">
									<div class="card border-0 bg-transparent">
										<div class="card-img-top border-radius-0 position-relative">
											<div class="p-absolute top-0 left-0 d-flex justify-content-end py-3 px-4 z-index-3">
												<span class="text-center bg-primary text-color-light font-weight-semibold line-height-2 px-3 py-2">
													<span class="position-relative text-4 z-index-2">
														18
														<span class="d-block text-0 positive-ls-2 px-1">FEB</span>
													</span>
												</span>
											</div>
											<div class="thumb-info thumb-info-floating-element-wrapper" data-offset="-25">
												<div class="thumb-info-wrapper after-d-none">
<img src="~/publicsite/img/demos/beauty-salon/blog/post-thumb-1.jpg" class="img-fluid" alt="Lorem Ipsum Dolor" />
												</div>
												<span class="thumb-info-floating-element d-none">
													<span class="btn btn-primary btn-circle btn-lg p-events-none">
														<i class="fa fa-plus"></i>
													</span>
												</span>
											</div>
										</div>
										<div class="card-body py-4 px-0">
											<span class="d-block text-color-grey font-weight-semibold positive-ls-2 text-2">BY ADMIN</span>
											<h4 class="font-weight-semi-bold text-5 custom-primary-font custom-primary-font text-color-hover-primary mb-2">Lorem ipsum dolor sit a met, consectetur</h4>
											<a href="demo-beauty-salon-blog-post.html" class="read-more text-color-primary font-weight-semibold mt-0 text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
										</div>
									</div>
								</a>
							</div>
							<div class="col-md-6 mb-4 mb-lg-0">
								<a href="demo-beauty-salon-blog-post.html" class="text-decoration-none">
									<div class="card border-0 bg-transparent">
										<div class="card-img-top border-radius-0 position-relative">
											<div class="p-absolute top-0 left-0 d-flex justify-content-end py-3 px-4 z-index-3">
												<span class="text-center bg-primary text-color-light font-weight-semibold line-height-2 px-3 py-2">
													<span class="position-relative text-4 z-index-2">
														18
														<span class="d-block text-0 positive-ls-2 px-1">FEB</span>
													</span>
												</span>
											</div>
											<div class="thumb-info thumb-info-floating-element-wrapper" data-offset="-25">
												<div class="thumb-info-wrapper after-d-none">
								<img src="~/publicsite/img/demos/beauty-salon/blog/post-thumb-2.jpg" class="img-fluid" alt="Lorem Ipsum Dolor" />
												</div>
												<span class="thumb-info-floating-element d-none">
													<span class="btn btn-primary btn-circle btn-lg p-events-none">
														<i class="fa fa-plus"></i>
													</span>
												</span>
											</div>
										</div>
										<div class="card-body py-4 px-0">
											<span class="d-block text-color-grey font-weight-semibold positive-ls-2 text-2">BY ADMIN</span>
											<h4 class="font-weight-semi-bold text-5 custom-primary-font custom-primary-font text-color-hover-primary mb-2">Lorem ipsum dolor sit a met, consectetur</h4>
											<a href="demo-beauty-salon-blog-post.html" class="read-more text-color-primary font-weight-semibold mt-0 text-2">Read More <i class="fas fa-angle-right position-relative top-1 ms-1"></i></a>
										</div>
									</div>
								</a>
							</div>

						</div>
					</div>
				</section>


				<div class="lightbox" data-plugin-options="{'delegate': '.thumb-info-action a', 'type': 'image', 'gallery': {'enabled': true}}">
					<div class="container-fluid p-0 mt-0">
						<div class="row gx-0 p-relative">
							<div class="block-follow-instagram bg-primary text-color-light p-absolute transform3dxy-n50 top-50pct left-50pct z-index-1 text-center">
								<div class="anim-hover-scale-1-1 transition-3ms d-inline-block">
									<div class="pt-5 mt-1 pb-3">
										<i class="fab fa-instagram text-13"></i>
									</div>
									<h2 class="text-color-light font-weight-bold fst-italic ls-0 text-8 line-height-2 mb-2 ws-nowrap">Follow on Instagram</h2>
									<a class="text-color-grey text-color-hover-light text-3" href="#">@@portobeautysalon</a>
								</div>
							</div>
							<div class="col-6 col-lg-4 col-xl-2">
								<span class="thumb-info thumb-info-no-zoom thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
									<span class="thumb-info-wrapper">
<img src="~/publicsite/img/gallery/gallery-1.jpg"  class="img-fluid" alt=""/>
										<span class="thumb-info-wrapper-overlay">
											<span class="thumb-info-action">
								<a href="ّّّ~/publicsite/img/demos/beauty-salon/gallery/gallery-1.jpg">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fa fa-plus text-dark text-dark"></i></span>
												</a>
											</span>
										</span>
									</span>
								</span>
							</div>
							<div class="col-6 col-lg-4 col-xl-2">
								<span class="thumb-info thumb-info-no-zoom thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
									<span class="thumb-info-wrapper">
<img src="~/publicsite/img/gallery/gallery-2.jpg" class="img-fluid" alt="" />
										<span class="thumb-info-wrapper-overlay">
											<span class="thumb-info-action">
								<a href="ّّّ~/publicsite/img/demos/beauty-salon/gallery/gallery-2.jpg">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fa fa-plus text-dark text-dark"></i></span>
												</a>
											</span>
										</span>
									</span>
								</span>
							</div>
							<div class="col-6 col-lg-4 col-xl-2">
								<span class="thumb-info thumb-info-no-zoom thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
									<span class="thumb-info-wrapper">
<img src="~/publicsite/img/gallery/gallery-3.jpg"  class="img-fluid" alt=""/>
										<span class="thumb-info-wrapper-overlay">
											<span class="thumb-info-action">
								<a href="ّّّ~/publicsite/img/demos/beauty-salon/gallery/gallery-3.jpg">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fa fa-plus text-dark text-dark"></i></span>
												</a>
											</span>
										</span>
									</span>
								</span>
							</div>
							<div class="col-6 col-lg-4 col-xl-2">
								<span class="thumb-info thumb-info-no-zoom thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
									<span class="thumb-info-wrapper">
<img src="~/publicsite/img/gallery/gallery-4.jpg"  class="img-fluid" alt=""/>
										<span class="thumb-info-wrapper-overlay">
											<span class="thumb-info-action">
								<a href="ّّّ~/publicsite/img/demos/beauty-salon/gallery/gallery-4.jpg">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fa fa-plus text-dark text-dark"></i></span>
												</a>
											</span>
										</span>
									</span>
								</span>
							</div>
							<div class="col-6 col-lg-4 col-xl-2">
								<span class="thumb-info thumb-info-no-zoom thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
									<span class="thumb-info-wrapper">
						<img src="ّّّ~/publicsite/img/demos/beauty-salon/gallery/gallery-5.jpg" class="img-fluid" alt="">
										<span class="thumb-info-wrapper-overlay">
											<span class="thumb-info-action">
<img src="~/publicsite/img/gallery/gallery-5.jpg"  class="img-fluid" alt=""/>
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fa fa-plus text-dark text-dark"></i></span>
												</a>
											</span>
										</span>
									</span>
								</span>
							</div>
							<div class="col-6 col-lg-4 col-xl-2">
								<span class="thumb-info thumb-info-no-zoom thumb-info-swap-content thumb-info-centered-icons thumb-info-wrapper-direction-aware">
									<span class="thumb-info-wrapper">
<img src="~/publicsite/img/gallery/gallery-6.jpg"  class="img-fluid" alt=""/>
										<span class="thumb-info-wrapper-overlay">
											<span class="thumb-info-action">
								<a href="ّّّ~/publicsite/img/demos/beauty-salon/gallery/gallery-6.jpg">
													<span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fa fa-plus text-dark text-dark"></i></span>
												</a>
											</span>
										</span>
									</span>
								</span>
							</div>
						</div>
					</div>
				</div>*@

<script src="~/Public/js/demos/demo-cleaning-services.js"></script>