
@model SaloonReservation.Models.Area
@using SaloonReservation.Data
@inject SalonContext _context
@{
    var cites = _context.Cities.Select(e => new { e.CityId, e.CityTlAr, e.CityTlEn });
}

<div class="modal fade" id="showEditModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
           
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="exampleModalLabel"> @sharedResource["Edit Area"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="close-modal"></button>
            </div>
           
            <form asp-area="Admin" asp-page="/Configurations/ManageArea/Index" asp-page-handler="EditArea" enctype="multipart/form-data">
                <div class="modal-body">
                    <input type="text" hidden asp-for="@Model.AreaId" id="EditAreaId" />
                   

                    <div class="row g-3">
                        <div class="col-lg-12">

                            <div>
                                <label for="@Model.AreaTlAr"
                                       class="form-label">@sharedResource["Area Arabic Title"]</label>
                                <input type="text" asp-for="@Model.AreaTlAr" id="AreaTlArId"
                                       class="form-control" placeholder="@sharedResource["Enter Area Arabic Title"]"
                                       required />

                            </div>

                        </div>
                        <!--end col-->
                        <div class="col-lg-12">
                            <div>
                                <label for="@Model.AreaTlEn"
                                       class="form-label">@sharedResource["Area English Title"]</label>
                                <input type="text" asp-for="@Model.AreaTlEn" id="AreaTlEnId"
                                       class="form-control"
                                       placeholder="@sharedResource["Enter Area English Title"]" required />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <label asp-for="@Model.CityId" for="car-rental-name">@sharedResource["Cities"] <small class="text-danger">*</small></label>

                            <select data-val="true" data-val-required="@sharedResource["Please Choose a City"]" id="SelectedCityId" asp-for="@Model.CityId" class="form-select required" aria-label="Default select example" required>
                                <option selected value="">@sharedResource["Select City"]</option>

                                @{
                                    if (cites != null)
                                    {
                                        foreach (var item in cites)

                                        {

                                            <option value="@item.CityId">@item.CityTlAr</option>

                                        }
                                    }
                                }

                            </select>

                            <span asp-validation-for="@Model.CityId" class="text-alert"></span>
                        </div>

                        <div class="col-lg-12">
                            <div>
                                <label for="@Model.AreaOrderIndex"
                                       class="form-label">@sharedResource["Sort"]</label>
                                <input type="number" asp-for="@Model.AreaOrderIndex" id="AreaOrderIndexId"
                                       class="form-control"
                                       placeholder="@sharedResource["Enter Sort"]" required />
                            </div>
                        </div>
                        <div class="form-group col-6" style="padding-top: 2rem">
                            <div class="form-check">
                                <input asp-for="@Model.AreaIsActive" id="AreaIsActiveId" class="form-check-input" type="checkbox">
                                <label for="@Model.AreaIsActive" class="form-check-label">@sharedResource["Is Active"]</label>
                                <span asp-validation-for="@Model.AreaIsActive" class="text-danger"></span>
                            </div>
                        </div>


                    </div>
                    <!--end row-->
                </div>
                <div class="modal-footer">
                    <div class="hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light"
                                data-bs-dismiss="modal">
                            @sharedResource["Close"]
                        </button>
                        <button type="submit" class="btn btn-success"
                                id="add-btn">
                            @sharedResource["Edit Area"]
                        </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>