@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>

</style>
<section class="call-to-action with-button-arrow mb-5" style="background: #d65831;margin:0 !important">
	<div class="col-sm-9 col-lg-9">
		<div class="call-to-action-content">
			<h3> <strong class="font-weight-extra-bold" style="color:white;font-weight:bolder">@sharedResource["Beauty Salon is Where beauty meets elegance"]</strong> </h3>
		</div>
	</div>
	<div class="col-sm-3 col-lg-3">
		<div class="call-to-action-btn">
			<a href="/AppoimentServices" target="_blank" class="btn btn-modern text-2 btn-light">@sharedResource["Book Now"]</a><span class="arrow hlb d-none d-md-block appear-animation animated rotateInUpLeft appear-animation-visible" data-appear-animation="rotateInUpLeft" style="left: 100%; top: -32px; animation-delay: 100ms;"></span>
		</div>
	</div>
</section>

@*<section class="call-to-action call-to-action-default mb-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-lg-9">
				<div class="call-to-action-content">
					<h3>@sharedResource["Beauty Salon is Where"] <strong class="font-weight-extra-bold">@sharedResource["beauty"]</strong> @sharedResource["meets elegance"] </h3>
					<p class="mb-0">@sharedResource["Reflect your true beauty"]</p>
				</div>
			</div>
			<div class="col-sm-3 col-lg-3">
				<div class="call-to-action-btn">
					<a href="http://themeforest.net/item/porto-responsive-html5-template/4106987" target="_blank" class="btn btn-modern text-2 btn-primary">@sharedResource["Book Now"]</a><span class="arrow hlb d-none d-md-block appear-animation animated rotateInUpLeft appear-animation-visible" data-appear-animation="rotateInUpLeft" style="left: 110%; top: -40px; animation-delay: 100ms;"></span>
								</div>
			</div>
		</div>
	</div>
</section>*@