<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a asp-area="Admin" asp-page="/index" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/images/KidsLogo.jpg" class="img-fluid w-100" alt="Mashaer Logo" style="height: 105px;padding-top: 20px" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/images/KidsLogo.jpg" class="img-fluid w-100" alt="Mashaer Logo" style="height: 105px;padding-top: 20px" height="17">
            </span>
        </a>
        <!-- Light Logo-->
        <a asp-area="Admin" asp-page="/index" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/images/KidsLogo.jpg" class="img-fluid w-100" alt="Mashaer Logo" style="height: 105px;padding-top: 20px" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/images/KidsLogo.jpg" class="img-fluid w-100" alt="Mashaer Logo" style="height: 105px;padding-top: 20px" height="17">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">


                <li class="menu-title"><span>@sharedResource["Dashboard"]</span></li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-page="/index" class="nav-link menu-link" aria-expanded="false"><i class="ri-rocket-line"></i> <span>@sharedResource["Statistics Dashboard"]</span> </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarLayouts" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarLayouts">
                        <i class="ri-layout-3-line"></i> <span>@sharedResource["Configurations"]</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarLayouts">
                        <ul class="nav nav-sm flex-column">

                            <li class="nav-item">
                                <a asp-area="Admin" asp-page="/Configurations/MangeCountry/index" class="nav-link">@sharedResource["Manage Countries"]</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-page="/Configurations/ManageCity/index" class="nav-link">@sharedResource["Manage Cities"]</a>
                            </li>

                           <li class="nav-item">
                                <a asp-area="Admin" asp-page="/Configurations/ManageArea/index" class="nav-link">@sharedResource["Manage Areas"]</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-page="/Configurations/ManageServices/index" class="nav-link">@sharedResource["Manage Services"]</a>
                            </li>
                           
                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->

                <li class="nav-item">
                    <a class="nav-link menu-link" href="#ReportsLayouts" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarLayouts">
                        <i class="ri-layout-3-line"></i> <span>@sharedResource["Reports"]</span>
                    </a>
                    <div class="collapse menu-dropdown" id="ReportsLayouts">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a asp-area="Admin" asp-page="/Reports/AppointmentReport" class="nav-link">@sharedResource["Appointments Report"]</a>
                            </li>
                         


                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="#sidebarAuth" data-bs-toggle="collapse" role="button"
                       aria-expanded="false" aria-controls="sidebarLayouts">
                        <i class="ri-share-line"></i> <span>@sharedResource["System Configurations"]</span>
                    </a>
                    <div class="collapse menu-dropdown" id="sidebarAuth">
                        <ul class="nav nav-sm flex-column">
                            <li class="nav-item">
                                <a asp-area="Admin" asp-page="/Configurations/Barber/Index" class="nav-link menu-link" class="nav-link">@sharedResource["Manage Barbers"]</a>

                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-page="/Configurations/ManageAppointment/Index" class="nav-link menu-link" class="nav-link">@sharedResource["Manage Appointments"]</a>

                            </li>

                            <li class="nav-item">
                                <a asp-area="Admin" asp-page="/SystemConfiguration/Public_Slider/index" class="nav-link menu-link" class="nav-link">@sharedResource["Manage Public Slider"]</a>

                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-page="/SystemConfiguration/PublicAboutSection/index" class="nav-link menu-link" class="nav-link">@sharedResource["Manage Public About Section"]</a>

                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-page="/SystemConfiguration/SocialLinks/index" class="nav-link menu-link" class="nav-link">@sharedResource["Manage Social Links"]</a>

                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-page="/SystemConfiguration/ManagePageContent/index" class="nav-link menu-link" class="nav-link">@sharedResource["Page Content"]</a>

                            </li>

                            <li class="nav-item">
                                <a asp-area="Admin" asp-page="/Configurations/ManageNewLetters/index" class="nav-link menu-link" class="nav-link">@sharedResource["NewLetters"]</a>

                            </li>


                        </ul>
                    </div>
                </li> <!-- end Dashboard Menu -->
                <li class="nav-item">
                    <a asp-area="Admin" asp-page="/Configurations/ManageAppointment/Index" class="nav-link menu-link" aria-expanded="false"> <i class="ri-layout-3-line"></i> <span>@sharedResource["Manage Appointments"]</span> </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-page="/Profile/Index" class="nav-link menu-link" aria-expanded="false"><i class="ri-account-circle-line"></i> <span>@sharedResource["Profile"]</span> </a>
                </li>



            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>